// routes/index.jsから呼ばれる
// 受渡変数：title

// layout.jadeを拡張
extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    input(type="text", id="message")
    input(type="button", value="send", id="send")
  ul#chat
