//- routes/index.jsから呼ばれる
//- 受渡変数：title

//- layout.jadeを拡張
extends layout

block content

  div
    button(type="button",onClick="startVideo()") Videoスタート
    button(type="button",onClick="stopVideo()") Videoストップ
    br
    button(type="button",onClick="connect()") 通信開始
    button(type="button",onClick="disconnect()") 切断
    br
    div#room-info
    div(style="position:relative;height:180px;")
      video#remote-video(autoplay, class="css-remote")
      video#local-video(autoplay, class="css-local1")

    p 自ブラウザのSDP情報:
      br
      textarea#text-for-send-sdp(rows="5",cols="40")

    p 接続候補(candidate):
      br
      textarea#text-for-send-ice(rows="5",cols="40",onclick="this.focus(); this.select();")

    p ログ:
      br
      textarea#my-log(rows="15",cols="40")

