doctype 5
html
  head
    meta(name="viewport",content="width=device-width,user-scalable=yes")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js')
    script(src='/socket.io/socket.io.js')
    //- script(src='/javascripts/chat.js')
    script(src='/javascripts/video.js')
    //- script(src='/javascripts/socket.js')
  body
    block content