doctype 5
html
  head
    meta(name="viewport",content="width=device-width,user-scalable=yes")
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Microsoft CDN(Content Delivery Network)を利用
    //- 一覧：http://www.asp.net/ajaxlibrary/cdn.ashx
    //- 
    //- jQuery2.0系：IE6～8との互換性を切り捨てコードサイズを縮小している(=モバイル向け)
    //- スマホでは jQuery2.x.x と jQuery Mobile 1.x.x を使う
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/video.js')
  body
    block content